.app {
    width: 100%;
    text-align: center;
    color: #252326;
}
.user_mini p {
    display: inline;
    width: 100%;
    text-align: center;
    color: #9d018b;
}
.itemFromBag {

    color: #9d1635;
}
.Bag {
    display: grid

}
.item{
    background: #fcff9b; /* Цвет фона */
    outline: 2px solid #9d018b; /* Чёрная рамка */
    border: 3px solid #2f58ff; /* Белая рамка */
    border-radius: 20px
}
.itemInOffer{
    color: darkred;
}
.Offer{
    background: #ffc10a; /* Цвет фона */
    outline: 2px solid #9d889b; /* Чёрная рамка */
    border: 3px solid #29ffc0; /* Белая рамка */
    border-radius: 10px;
    height: auto;
    width: 350px ;
}
.Offer .item{
    background: #ffc10a; /* Цвет фона */
    outline: 0 ; /* Чёрная рамка */
    border: 2px; /* Белая рамка */
    border-radius: 0
}

.navInOffer{
    display: grid;
}

.navInOffer a{
    color: orangered;
}
.navInOffer a:hover{
    text-decoration: underline;
    color: #3387ff;
    transition:0.5s;
}

.OfferStore{
    display: inline-grid;
}